* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body {
    background-image: url(./imgs/campo-img.jpg);
    background-size: 100%;
}

body * {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
}


input {
    background-color: #1e4a7c;
}


input::placeholder {
    color: antiquewhite;
    height: 50%;
}

.label {
    color: antiquewhite;
}

#searchDiv {
    right: 0px;
    padding-top: 30px;
    
}

#search {
    border-radius: 5px;
    padding: 0 0 0 5px;
    border: none;
}

h1 {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 45%;
    padding-right: 25%;
    text-align: center;
    color: rgb(55, 110, 68);;
    font-size: 50px;
    
}

h2 {
    color: antiquewhite;
}

p{ 
    color: antiquewhite;
}
#teams-container {
    display:flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;

}

.cards {
    width: 450px;
    height: 100px;
    border: 2px solid #757272;
    border-radius: 10px;
    display: inline-block;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(77, 75, 75, 0.6);
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.6);
}

#team {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 15%;
    align-items: center;
    gap: 200px;
}

.teamInfos{
    gap: 40px;
    background-color: rgba(77, 75, 75, 0.6);
    border-radius: 10px;
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.6);
    width: 550px;
    height: 400px;
    padding-left: 20px;
}

.txtTeam {
    font-size: 30px;
    color: rgb(229, 224, 224);
    padding-top: 30px;
}

.cards:hover{
    transform: scale(1.05);
}

#team img:hover {
    transform: scale(1.1);
}